#root {
  max-width: 80%;
  margin: 0 auto;
  list-style-position: outside;
}

.welcome{
  padding: 2rem;
  text-align: center;
}
.main_title{
  border-bottom: groove ;
  width: fit-content;
  margin: auto;
}
.small_comment{
  font-family: cursive;
  font-size: small;
}
.main_info{
  margin-inline: 10%;
  display: flex;
  justify-content: space-between;
}
.personal_info{
  width: 45%;
  height: 30;
  text-align: center;
  outline: groove #353535;
}
.personal_info_desc{
  margin-inline: 2.2em;
  text-align: left;
}
.achievement_info{
  width: 45%;
  outline: groove #353535;
  text-align: center;
}
.achievement_info_desc{
  margin-inline: 2.2em;
  text-align: left;
}