#root {
  max-width: 60%;
  margin: 0 auto;
  height: 100%;
}
h1{
  margin: 0;
}
.welcome_box{
  padding: 2rem;
  text-align: center;
}
.main_title{
  border-bottom: dotted;
  width: fit-content;
  margin: auto;
}
.small_comment{
  font-family: cursive;
  font-size: small;
}
.main_box{
  display: flex;
  justify-content: space-between;
}
.personal_info{
  width: 47%;
  text-align: center;
  outline: groove #353535;
  outline-width: 0,3em;
}
.personal_info_desc{
  margin-inline: 2.2em;
  text-align: left;
}
.achievement_info{
  width: 47%;
  text-align: center;
  outline: groove #353535;
  outline-width: 0,3em;
}
.achievement_info_desc{
  margin-inline: 2.2em;
  text-align: left;
}
.bottom_box{
  margin-top: 2em;
  outline: groove #353535;
  outline-width: 0.3em;
  text-align: center;
  box-sizing: border-box;
}
.social_media_box{
  margin: 4%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}
.social_media_info{
  outline: groove #353535;
  height: 5em;
  display: flex;
  flex-direction: column;
}

.social_media_icon{
  margin: 20% 0px 10%;
  height: 32px;
  width: 32px;
  vertical-align:middle;
}